# Rendering
IS_SPA=<true|false>

# Newsletter
NUXT_MAILCHIMP_API_KEY=<key>
NUXT_MAILCHIMP_LIST_ID=<id>
NUXT_MAILCHIMP_SERVER=<server>

# Storyblok
NUXT_STORYBLOK_TOKEN=<token>
NUXT_STORYBLOK_VERSION=<draft|published>

# Shopify
NUXT_SHOPIFY_STOREFRONT_HOST=<endpoint>
NUXT_SHOPIFY_STOREFRONT_ACCESS_TOKEN=<token>

# Nuxt
NUXT_OG_IMAGE_SECRET=<secret>
