@layer base {
  @font-face {
    font-family: Magister;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Magister-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: Magister;
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    src: url('/fonts/Magister-Italic.woff2') format('woff2');
  }

  @font-face {
    font-family: Sebenta;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Sebenta-Medium.woff2') format('woff2');
  }
}
