@layer base {
  html {
    scrollbar-gutter: stable;
    color: var(--app-text-color);
    background-color: var(--app-background-color);
    transition:
      color var(--app-background-speed) var(--app-background-ease),
      background-color var(--app-background-speed) var(--app-background-ease);
  }

  body {
    font-family: theme('fontFamily.body');
    font-size: theme('fontSize.16');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: theme('lineHeight.normal');

    -webkit-tap-highlight-color: transparent;
  }

  .wrapper {
    width: 100%;
    max-width: theme('screens.3xl');
    margin-inline: auto;
    padding-inline: var(--app-outer-gutter);
  }

  .section {
    padding-block: theme('spacing.40');

    @screen md {
      padding-block: theme('spacing.60');
    }
  }
}
