@layer components {
  .prose {
    * + h1,
    * + h2,
    * + h3,
    * + h4,
    * + h5,
    * + h6,
    * + p {
      margin-block-start: theme('spacing.20');
    }

    p a {
      text-decoration: underline;
      opacity: 1;
      transition: opacity theme('transitionDuration.200') theme('transitionTimingFunction.smooth');

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .prose--small {
    p {
      font-size: theme('fontSize.14');
      letter-spacing: theme('letterSpacing.wide');
    }
  }
}
