@layer components {
  .prose {
    & :is(* + h1, * + h2, * + h3, * + h4, * + h5, * + h6, * + p, * + ul, * + ol) {
      margin-block-start: theme('spacing.20');
    }

    & :is(h1 + h5, h2 + h5, h3 + h5, h4 + h5) {
      margin-block-start: theme('spacing.40');
    }

    & :is(h1, h2, h3, h4, h5, h6) {
      font-family: theme('fontFamily.heading');
      font-size: theme('fontSize.14');
      font-weight: normal;
      text-transform: uppercase;
      text-wrap: balance;
      letter-spacing: theme('letterSpacing.widest');
    }

    & :is(h1, h2, h3, h4) {
      font-size: theme('fontSize.14');

      @screen md {
        font-size: theme('fontSize.16');
      }
    }

    & h5 {
      font-size: theme('fontSize.12');
    }

    & h6 {
      font-size: theme('fontSize.10');
    }

    p {
      font-size: theme('fontSize.14');
      text-wrap: pretty;
      letter-spacing: theme('letterSpacing.wider');

      @screen md {
        font-size: theme('fontSize.16');
      }
    }

    p a {
      text-decoration: underline;
      opacity: 1;
      transition: opacity theme('transitionDuration.200') theme('transitionTimingFunction.smooth');

      &:hover {
        opacity: 0.6;
      }
    }

    blockquote {
      & p {
        &:first-of-type::before {
          content: open-quote;
        }

        &:last-of-type::after {
          content: close-quote;
        }
      }
    }

    ul, ol {
      display: inline-block;
      padding-block: theme('spacing.20');
      text-align: left;
      list-style-type: disc;

      & li {
        padding-inline-start: 0.25em;
        text-wrap: pretty;
      }

      & li + li {
        margin-block-start: 0.75em;
      }

      & li > ul,
      & li > ol {
        margin-block-start: 0;
        margin-inline-start: 1em;
        list-style-type: circle;
      }

      & p {
        margin-inline: 0;
      }
    }
  }

  .prose--small {
    p {
      font-size: theme('fontSize.14');
    }
  }

  .prose--large {
    p {
      @screen md {
        font-size: theme('fontSize.20');
      }
    }
  }
}
