@layer components {
  /* Headings */
  .type-h3,
  .type-h4,
  .type-h5,
  .type-h6 {
    font-family: theme('fontFamily.heading');
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: theme('letterSpacing.widest');
  }

  .type-h1 {
    font-size: theme('fontSize.40');
    letter-spacing: theme('letterSpacing.wide');

    @screen md {
      font-size: theme('fontSize.90');
    }
  }

  .type-h2 {
    font-size: theme('fontSize.24');
    letter-spacing: theme('letterSpacing.plump');

    @screen md {
      font-size: theme('fontSize.40');
    }
  }

  .type-h3 {
    font-size: theme('fontSize.14');

    @screen md {
      font-size: theme('fontSize.16');
    }
  }

  .type-h4 {
    font-size: theme('fontSize.14');
  }

  .type-h5 {
    font-size: theme('fontSize.12');
  }

  .type-h6 {
    font-size: theme('fontSize.10');
  }

  /* Body */
  .type-body {
    font-size: theme('fontSize.14');
    letter-spacing: theme('letterSpacing.wider');

    @screen md {
      font-size: theme('fontSize.16');
    }
  }

  .type-body-large {
    font-size: theme('fontSize.18');
    letter-spacing: theme('letterSpacing.wider');

    @screen md {
      font-size: theme('fontSize.20');
    }
  }
}
