@layer base {
  :root {
    /* Global units */
    --app-outer-gutter: theme('spacing.40');
    --app-inner-gutter: theme('spacing.20');
    --app-header-height: 96px;

    @screen md {
      --app-outer-gutter: theme('spacing.60');
      --app-header-height: 144px;
    }
  }
}
